{% extends 'base.html.twig' %}

 
 
  {% block body %}

  <h1 style="text-align: center"> Les services</h1>
      <table border=1px class="table table-dark">
  <thead>
  <th scope="col">ID service</th>
  <th scope="col">Nom service</th>

  </thead>
  {% for services in service %}
  <tr>
  <td>{{services.id}}</td>
  <td>{{services.libelle}}</td>
  </tr>
      
  {% endfor %}
      </table>
  {% endblock %}